{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<div class="example-wrapper py-5">
    <h1>Liste des utilisateur</h1>
    
    <a href="{{path('app_admin_user_new')}}" class="btn btn-primary mb-3 mt-3">Ajouter un utilisateur</a>
    <ul class="list-group list-group-flush">
        {% for user in users %}
            <div class="card mb-1">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <a href="{{ path('app_admin_user_edit',{id: user.id}) }}" class="stretched-link link-dark">
                            <h4 class="mb-1">{{ user.firstname }} {{ user.lastname }} </h4>
                        </a>
                        <small class="text-muted">Identifiant : {{ user.id }}</small>
                        {% if user.lastConnectedAt %}<small class="text-muted">Dernière connexion : {{ user.lastConnectedAt | date('d M Y H:i')}}{% endif %}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
