{% extends 'base.html.twig' %}

{% block title %}{{book.title}}{% endblock %}

{% block body %}
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{book.cover}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">ISBN: {{book.isbn}}</div>
                <h1 class="display-5 fw-bolder">{{book.title}}</h1>
                <div class="fs-5 mb-5">
                    {# <span class='d-block'>Auteur(s): {% for author in book.authors %}{{author.name}}{% endfor %}</span> #}
                    <span class='d-block'>Auteur(s): {{book.authors|map(a => a.name)|join(', ')}}</span>
                    
                    <span class='d-block'>Editeur:  {{book.editor.name}}</span>
                    <span class='d-block'>{{(book.pageNumber) ? book.pageNumber ~ ' pages -' : '' }}{{book.editedAt|date('d/m/Y')}}</span>
                    <span class='d-block'>Statut: {{book.status.getLabel()}}</span>
                </div>
                <p class="lead">{{book.plot}}</p>
                <div class="d-flex">
                    <a href='{{path('app_book_index')}}' class="btn btn-outline-dark flex-shrink-0">
                    Retour à la liste
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
